@import "../../styles/colors.css";

#navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000;
  width: 100.5%;
  height: 70px;
  padding: 5px 120px;
  background-color: var(--dark-blue-shade);
}

@media (max-width: 1100px) {
	#navbar {
	  padding: 5px 5%;
	}
}

.ui.verify.email.message {
	margin-top: 0;
	border-radius: 0;
}

#logo {
  width: 190px;
}

.ui.secondary.inverted.menu a.item {
  color: white!important;
}

.ui.secondary.inverted.menu .dropdown.item:hover, .ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover {
  background: rgba(255,255,255,0) !important;
}

.ui.secondary.inverted.menu .hover.item:hover {
  background: rgba(255,255,255,.08) !important;
}


.right.menu span {
  background-color: var(--teal);
  padding: 8px 14px;
  color: white;
}

.right.menu span.flag-icon {
  background-color: #03172800;
  margin-left: 8px;
}

.right.menu .ui.search input {
  height: 30px;
}

/* Collapsable menu */

#menu-label {
	display: none;
}

#menu-checkbox {
	display: none;
}

@media (max-width: 900px) {
	.right.menu .ui.search input {
		width: 100px;
	}
}

@media (max-width: 750px) {
	#menu-label {
		display: block;
		position: absolute;
		right: 0;
		cursor: pointer;
		font-size: 17px;
	}

	.right.menu {
		display: table !important;
		padding: 15px 5px !important;
		padding-top: 60px !important;
		margin-right: -100% !important;
		background-color: var(--dark-blue-shade);
	}

	.right.menu .item {
		text-align: center;
		display: block;
	}

	input#menu-checkbox:checked ~ .right.menu {
		margin-right: -5.5% !important;
	}
}
