@import '../../styles/page.css';

img.intro {
	width: 100%;
}
.services p {
	color: black;
}
.services p.blue {
	color: #147eb0;
	max-width: 500px;
	margin-bottom: 60px !important;
}

.services h2, .howWorks h2 {
	font-weight: bold;
  color: #1191cd;
}

.howWorks {
	margin-top: 60px;
}
.services {
	margin-bottom: 60px;
}

.services img {
	width: 100%;
	margin-bottom: 10px;
}

.services .column {
	cursor: pointer;
}


/* Create activity button styles */

.ui.create.activity.segment {
	border-radius: 0.8rem 0 0 0.8rem;
	background-position: center;
	background-size: cover;
	height: 270px;
	width: 13%;
	padding: 0;

  position: absolute;
	right: 15px;
	margin-top: 70px;
}

.ui.create.activity.segment:hover {
	width: calc(13% + 3px);
}

.ui.create.activity.segment .overlay {
	border-radius: 0.8rem 0 0 0.8rem;
	background: rgba(16, 23, 58, 0.7);
}

.ui.create.activity.segment .content {
	font-size: 1.1em;
	padding-left: 25px;
	margin-top: 200px;

	position: relative;
  color: white;
  width: 100%;
	z-index: 2;
}

@media (max-width: 1020px) {
	.ui.create.activity.segment .content {
		padding-left: 15px;
		margin-top: 180px;
	}
}

@media (max-width: 900px) {
	.ui.create.activity.segment {
		border-radius: 0.8rem;
		width: 100%;
		height: 100px;
		margin-top: 0;
		margin-bottom: 30px;

	  position: relative;
	}

	.ui.create.activity.segment:hover {
		width: 100%;
		-webkit-transform: translateY(-3px);
    transform: translateY(-3px);
	}

	.ui.create.activity.segment .content {
		padding-left: 25px;
		margin-top: 25px;
	}

	.ui.create.activity.segment .overlay {
		border-radius: 0.8rem;
	}
}
