:root {
  --main-bg-color: coral;
	--translucid-dark-blue: rgba(2, 19, 31, 0.9);
	--transparent-white: rgba(64, 177, 128, 0);
	--light-grey: #f2f2f2;

	--dark-blue-shade:  #0e2132;
	--dark-blue:        #126872;
	--aqua:             #0B877D;
	--light-aqua:       #18C29C;
	--light-aqua-high:  #88F9D4;
	--teal:             #1191cd;
	--light-teal:       #32c5af;
	--dark-teal:				#27786c;

	--red:              #db2828;
	--warning-red:      #ed5553;
	--light-red-orange: #f05f40;
	--light-yellow:     #fbbd08;
}



.ui.teal.button {
  background-color: var(--teal);
}
.ui.teal.button:hover {
  background-color: var(--light-teal);
}
