@import "./colors.css";

/****************************/
/* REWRITING default STYLES */
/****************************/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
	color: var(--teal);
}
a:hover {
	color: var(--dark-teal);
}


/*****************************/
/* REWRITING SEMANTIC STYLES */
/*****************************/

.ui.modal {
	border-radius: 0;
}

.ui.input input::placeholder {
  color: black;
}

.ui.compact.search.selection.dropdown .default.text {
  color: #7e7e7e;
}

.ui.error.input input {
  background-color: #ffefef;
  border-color: #e0b4b4;
  color: #9f3a38;
}

.ui.error.input input::placeholder {
  color: #9f3a38;
}
