@import "./colors.css";

.ui.page {
	padding: 60px 120px;
	min-height: 50vh;
}

.ui.compact.page {
	padding: 60px 17%;
}

@media (max-width:700px) {
	.ui.page {
		padding: 60px 10%;
	}
}

.ui.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Input styles */

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url],
.ui.selection.dropdown, .ui.form textarea  {
  font-size: 1.1em;
  border-radius: 0;
  border: 1px solid rgba(34,36,38,.4);
}

.ui.form input:not([type]), .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus,
.ui.selection.dropdown:focus, .ui.form textarea:focus  {
  font-size: 1.1em;
  border-radius: 0;
  border: 1px solid var(--teal);
}

#map-wrapper {
  display: block;
  min-height: 265px;
}

#map-wrapper > div {
  position: relative !important;
}
