@import "../../styles/colors.css";

#footer {
    color: white;
    padding: 30px 0px;
    background-color: var(--dark-blue-shade);
}

#footer a {
    color: white;
}
#footer a:hover {
    font-weight: bold;
}

#footer .icon {
    margin-right: 16px;
}
